.settings-page {
  width: 100%;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  background: #f5f7fb;
}

.tabs button {
  padding: 12px 25px;
  background: #f5f7fb;
  cursor: pointer;
  border-radius: 0%;
  color: black;

}

.tabs button.active {
background: white;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
font-weight: bold;
color: black;
border-bottom: 1px solid white;
margin-bottom: -1px;
}

.tab-content {
  padding: 30px;
  background: white;
}